body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.cabecalho{
    text-align: center;
    padding: 15px 0;
}

.cabecalho h1 span{
    color: #1aad35;
}

.chamada{
    background-color:#b0aeae;
    padding: 20px 15px;
    text-align: center;
}

.chamada a{
    margin: 0 25px;
}

main article img{
    height: 300px;
    width: 300px;
}

.cartoes{
    text-align: center;
    padding: 0 15px;
    margin-top: 40px;
}

.cartoes article img{
    max-width: 100%; /*a largura máxima da imagem é 100%*/
}

.botao{
    background-color: #1aad35;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    font-weight: bold; /*texto em negrito*/
    border: solid 1px #2a730d;
}

.cartoes article{
    margin: 62px 0;
}

.cartoes article h2{
    font-size: 20px;
    margin-bottom: 25px;
    padding-right: 15px;
}

footer {
    text-align: center;
    padding: 15px 0;
}

.descricao h1{
    text-align: center;
    color: #1aad35;
}

.descricao p{
    text-align: center;
}

.imagens{
    text-align: center;
    color: #1aad35;
}

.imagens img{
    width: 570px; 
    height: 600px;
}

.previsao h1{
    text-align: center;
    color: #1aad35;
}

.previsao{
    text-align: center;
}

@media (min-width: 600px){ 
    /*a partir de 600px vai entrar no 
    que tiver nesse bloco*/
    .chamada{
        padding: 40px 15px;
    }

    .chamada h1{
        font-size: 23px;
    }

    .cartoes article{
        float: left; /*propriedade para elemento flutuar*/
        width: calc(50% - 10px); /*para dividir a tela em duas partes*/  
    }


    /*pseudoclasse em que se seleciona apenas os articles
    pares, ou seja, um do lado do outro*/
    .cartoes article :nth-child(even){
        margin-left: 20px;
    }

}
